<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<link th:href="@{/css/home.css}" rel="stylesheet" type="text/css" />
</head>
<body style="background: #002f5d">
<div class="MZ_H_bg">
    <div class="MZ_H_ro">
        <img class="MZ_H_gear" src="../image/gear.gif"/>
        <img class="MZ_H_gear1" src="../image/gear.gif"/>
        <div class="MZ_H_body">
            <div class="MZ_H_body_top">
                <img class="MZ_H_mzz" src="../image/mzz.gif"/>
                <div class="MZ_H_body_top_right">
                    <a class="MZ_H_body_top_right_user">用户名:&lt;<span>XXX</span>&gt;</a>
                    <p>
                        <a>反馈意见</a>
                        <a>帮助中心</a>
                        <a style="border:none">退出账号</a>
                    </p>
                </div>
            </div>

            <div class="MZ_H_body_main">
                <div class="MZ_H_body_main_info">
                    <ul class="MZ_H_body_main_info_ul">
                        <li style="margin-top:0px;" class="MZ_H_body_main_info_ul_li">导航栏</li>
                        <li style="background:#5c809d" class="MZ_H_body_main_info_ul_li">学生信息查询</li>
                        <li class="MZ_H_body_main_info_ul_li">网上选课</li>
                        <li class="MZ_H_body_main_info_ul_li">学生评教</li>
                        <li class="MZ_H_body_main_info_ul_li">成绩查询</li>
                        <li class="MZ_H_body_main_info_ul_li">所属教师信息</li>
                        <li class="MZ_H_body_main_info_ul_li">个人建议</li>
                    </ul>
                    <div class="MZ_H_body_main_right"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/home.js}"></script>
</body>
</html>